.gpt3__header{
    display: flex;
}
.gpt3__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5rem;
}
.gpt3__header-content h1{
    font-family: var(--font-family);
font-size: 62px;

font-weight: 800;
line-height: 75px; /* 120.968% */
letter-spacing: -2.48px;


}
.gpt3__header-content p{
    color: var(--color-text);
font-family: var(--font-family);
font-size: 20px;

font-weight: 400;

margin-top: 1.5rem;
}
.gpt3__header-content_input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}
.gpt3__header-content_input input{
    flex: 2;
    outline: none;
    border: 2px solid var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    padding: 0 1rem;
background: var(--color-footer);
color: #3D6184;
font-family: var(--font-family);
font-size: 20px;
min-height: 50px;

font-weight: 400;

}
.gpt3__header-content_input button{
flex: 0.6;
border-radius: 0px 5px 5px 0px;
background: #FF4820;
outline: none;
border: 2px solid #FF4820 ;
min-height: 50px;
width: 100%;
color: #FFF;
font-family: var(--font-family);
font-size: 20px;
font-weight: 700;
cursor: pointer;
}
.gpt3__header-context_people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
align-items: center;
margin-top:1rem ;
}